# ignore all model files
model/*
!model/.gitkeep

# ignore quarantine files
quarantine/*
!quarantine/.gitkeep

# ignore dataset but keep folder
dataset/*
!dataset/.gitkeep

# venv
venv/

# cache
__pycache__/
*.pyc
